@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    background-size: cover;
    font-family: 'Passion One';
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

#container{
    background-image: none;
    height: 100px;
    width: 346px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#navegação{
    background-image: none;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#equipe{
    font-size: xx-large;
    position: absolute;
    top: 10%;
    left: 5%;
}

#membros1{
    background-image: none;
    position: absolute;
    top: 52%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#membros2{
    background-image: none;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#descrição{
    height:200px;
    width: 500px;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#contato{
    color: #b09f83;
}

a{
    margin: 10px;
    text-decoration: none;
}

.colour{
    color: #b09f83;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 110px;
    height: 110px;
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}