@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

*{
    background-size: cover;
    font-family: 'Chau Philomene One';
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

#container{
    height: 60px;
    width: 430px;
    border-left: 1px solid #b09f83;
    padding: 13px;
    position: absolute;
    top: 59%;
    left: 32.5%;
    transform: translate(-50%, -50%);
}

#navegação{
    border-top: 1px solid #b09f83;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navegaçãoHome{
    width: 140px;
    height: 170px;
    position: absolute;
    top: 52%;
    left: 65%;
    transform: translate(-50%, -50%);
}

#equipe{
    font-size: 35px;
    position: absolute;
    top: 13%;
    left: 15.5%;
}

#membros1{ 
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#membros2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 5px;
}

#membros3{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#descrição{
    height: 260px;
    width: 550px;
    border-left: 1px solid #b09f83;
    padding: 9px;
    position: absolute;
    top: 56%;
    left: 33%;
    transform: translate(-50%, -50%);
}

#nomeProjeto1{
    position: absolute;
    top: 45%;
    left: 28.5%;
    transform: translate(-50%, -50%);
}


#nomeProjeto2{
    position: absolute;
    top: 30%;
    left: 24.2%;
    transform: translate(-50%, -50%);
}

#contato{
    color: #b09f83;
}


#montagem{
    position: absolute;
    top: 18%;
    left: 8.5%;
    transform: translate(-50%, -50%);
}

#prototipo img{
    width: 400px;
    height: 400px;
    object-fit: cover; 
    border-radius: 12px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#componentes{
    width: 1100px;
    height: 470px;
    background-color: #584e3f;
    border-radius: 12px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#apps{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#titulo{
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
}

nav a{
    margin: 12px;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}

ul{
    margin: 10px;
    text-decoration: underline 0.5px #a09075;
}

h1{
    font-size: 85px;
    font-weight: bold;
}

p{
    font-size: 15px;
}

.image-container img {
    margin-top: 35px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 3px 6px 12px #b09f83; 
}

.colour{
    color: #518f00;
}

.nomeProjeto{
    color: #2a8b38;
}